.container-fluid {
    padding: 0px 0px 0px 0px !important;
}

.navbar.navbar-expand-md{
    height: 96px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 0.25px solid #78797C;
}

.navbar .navbar-brand{
    position: absolute;
    width: 73px;
    height: 35px;
    left: 50px;
    top: 31px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFC857;
}
.collapse .navbar-nav {
    position: absolute;
    left: 478px;
    top: 47px;
    height: 14px;
    line-height: 14px;
}

.navbar .nav-item .nav-link.home {
    width: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    border-bottom: #1F3C88 !important;
    color: #1F3C88;

}
.navbar .nav-item .nav-link.about {
    width: 100px;
    margin-left: 40px;
    top: 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    color: #1F3C88;
}

.navbar .nav-item .nav-link.companies {
    width: 84px;
    top: 45px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    color: #1F3C88;
}

.navbar .nav-item .nav-link.hubs {
    width: 40px;
    top: 47px;
    margin-left: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    color: #1F3C88;
}
.nav-item input{
    width: 181px;
    height: 45px;
    margin-top: -50px;
    margin-left: 150px;
    top: 20px !important;
    background: #FFFFFF;
    border-radius: 5px;
}
.nav-item input::placeholder{
    width: 68px;
    height: 25px;
    top: 36px;
    padding-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #CCCCCC;
}
.nav-item .btn{
    margin-left: 50px;
    width: 130px;
    height: 45px;
    background-color: #FFFFFF;
    right: 0%;
    margin-top: -15px;
    bottom: 0%;
    border: 0.5px solid #1F3C88 !important;
    box-sizing: border-box;
    border-radius: 4px;
    color: #1F3C88;
}
.nav-item .btn p{
    left: 27.71%;
    right: 26.97%;
    padding-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #1F3C88;
}
.row.top{
    background-image: url(../img/unsplash.jpg);
    width: 1440px;
    height: 631px;
    color: white;
    background-size: cover;
}
.row .inside{
    width: 1440px;
    height: 631px;
    left: -1px;
    top: 96px;
    background: linear-gradient(180deg, rgba(255, 200, 87, 0.74) 10.62%, #1F3C88 51.19%), #1F3C88;
    opacity: 0.8; 
}